<div class="row">
	<div class="col-xs-6" style="padding: 100px 100px 0px 100px; height: 400px;">
		<%= image_tag "vizanalytics.jpg", style: "width: 100%;" %>
	</div>
	<div class="col-xs-6" style="padding: 0px 100px 0px 100px; height: 400px;">
		<h2>Sign in</h2>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
			<div class="form-group"><%= f.label :username %><br />
				<%= f.text_field :username, autofocus: true, class: "form-control" %>
			</div>

			<div class="form-group"><%= f.label :password %><br />
				<%= f.password_field :password, class: "form-control", autocomplete: "off" %>
			</div>

			<% if devise_mapping.rememberable? -%>
				<div class="checkbox"><%= f.label :remember_me %><%= f.check_box :remember_me %></div>
			<% end -%>

			<%= f.submit "Sign in", class: "btn btn-default" %>
		<% end %>

		<%- if devise_mapping.recoverable? %>
			<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
		<% end -%>
		</div>
	</div>
</div>